@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #040b11;
  --secondary: #141b22;
  --accent: #21e786;
  --accent-darken: #14be6b;
}

* {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}

.theme-btn:before {
  width: 24px;
  height: 24px;

  content: "";

  background: url("./assets/images/icons/sun.svg") no-repeat center;
}

.btn {
  font-family: "Bakbak One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  padding: 12px 24px;

  text-transform: uppercase;
  transition: all 0.2s ease-out;

  color: #fff;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

.btn:hover {
  border-color: var(--accent);
  background-color: transparent;
  color: #fff;
}

.btn--outline {
  border-color: var(--accent);
  background-color: transparent;
}

.btn--outline:hover {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--secondary);
}

.btn--green {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--secondary);
}

.btn--green:hover {
  border-color: var(--accent-darken);
  background-color: var(--accent-darken);
  color: var(--secondary);
}

.btn--icon::before {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 8px;

  content: "";

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn--discord::before {
  background-image: url("./assets/images/icons/discord.svg");
}

.btn--wallet::before {
  background-image: url("./assets/images/icons/wallet.svg");
}

.hero-section {
  background: url("./assets/images/background/hero.png") no-repeat center top /
    cover;
}

.triangle-hover {
  position: relative;

  cursor: pointer;
}

.triangle-hover::before,
.triangle-hover:after {
  position: absolute;
  z-index: 2;

  width: 70px;
  height: 56.28px;

  content: "";
  transition: opacity 0.3s ease-out;

  opacity: 0;
  background: url("./assets/images/triangle.svg") no-repeat center;
}

.triangle-hover::before {
  top: -2px;
  left: -2px;
}

.triangle-hover::after {
  bottom: -2px;
  right: -2px;

  transform: rotate(180deg);
}

.triangle-hover:hover:before,
.triangle-hover:hover:after {
  opacity: 1;
}

.text-shadow {
  text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.4);
}

.story__inner::before,
.story__inner::after {
  position: absolute;
  z-index: -1;

  width: 184px;
  height: 184px;

  content: "";

  background: url("./assets/images/background/star.svg") no-repeat center /
    contain;
}

.story__inner::before {
  left: 23px;
  top: -82px;

  width: 277px;
  height: 277px;

  transform: rotate(-63.1deg);
}

.story__inner::after {
  right: -187px;
  bottom: -60px;
}

.story-card__title {
  position: relative;
  z-index: 1;
}

.story-card__title:after {
  font-family: "Bakbak One";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;

  position: absolute;
  bottom: -12px;
  left: 50%;
  z-index: -1;

  content: "0" attr(data-story-number);

  transform: translateX(-50%);
  text-transform: capitalize;
  opacity: 0.3;

  color: var(--accent);
}

.partner-section::before {
  position: absolute;
  left: -208px;
  bottom: -50px;

  width: 347.35px;
  height: 347.35px;

  content: "";

  background: url("./assets/images/background/star.svg") no-repeat center /
    contain;
}

.partner-card:where(
    :nth-child(2),
    :nth-child(4),
    :nth-child(6),
    :nth-child(7),
    :nth-child(9),
    :nth-child(11),
    :nth-child(14),
    :nth-child(16),
    :nth-child(18),

  ) {
  background-color: var(--secondary);
}

.menu-btn:before {
  width: 24px;
  height: 24px;

  content: "";

  background: url("./assets/images/icons/open.svg") no-repeat center;
}

.menu-btn--close::before {
  background-image: url("./assets/images/icons/close.svg");
}

@media (max-width: 767px) {
  .partner-card:where(
      :nth-child(2),
      :nth-child(4),
      :nth-child(6),
      :nth-child(7),
      :nth-child(9),
      :nth-child(11),
      :nth-child(14),
      :nth-child(16),
      :nth-child(18),

    ) {
    background-color: transparent;
  }

  .partner-card:where(:nth-child(4n + 1), :nth-child(4n + 4)) {
    background-color: var(--secondary);
  }
}
